:root {
  --Lightred: hsl(0, 100%, 67%);
  --Orangeyyellow: hsl(39, 100%, 56%);
  --Greenteal: hsl(166, 100%, 37%);
  --Cobaltblue: hsl(234, 85%, 45%);

  /* gradient */

  --Lightslateblue: hsl(252, 100%, 67%);
  --Lightroyalblue: hsl(241, 81%, 54%);

  /* Use transparency to get the colour variations necessary to match the design. Hint: look into using `hsla()`. */
  /* (circle) */
  --Violetblue: hsla(256, 72%, 46%, 1);
  --Persianblue: hsla(241, 72%, 46%, 0);

  /* ### Neutral */

  --White: hsl(0, 0%, 100%);
  --Paleblue: hsl(221, 100%, 96%);
  --Lightlavender: hsl(241, 100%, 89%);
  --Darkgrayblue: hsl(224, 30%, 27%);
}
* {
  font-family: "Hanken Grotesk";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
header {
    background-color: aqua;
    padding: 1.4rem;
}
#card-itsfelf{
    text-align: center;
    width: 24rem;
    height: 50rem ;
    margin: 2.5rem auto;
}
#circle-num {
    margin: 1.2rem auto;
    width: 8.5rem;
    height: 8.5rem;
    padding: 1rem;
    border-radius: 50%;
    background-color: blueviolet;
}
#circle-num p {
    font-weight: bold;
    color: white;
    font-size:3.8rem;
    margin-top: 0.1rem;
}









.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
